{{#if case}}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-8 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Please Review this case</h4>
            </div>
            <div class="card-body">
                <h5>{{case.ehr}}</h5>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Select Condition</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" name="caseId" value="{{case.id}}">
                    <div class="form-group">
                        <select size="20"  class="form-control" name="conditionCode">
                            {{#each conditions}}
                                <option value="{{this.code}}">{{this.description}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Next Case</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
    <div class="row justify-content-md-center">
        <div class="alert alert-info" role="alert">
            No cases to review!
        </div>
    </div>
{{/if}}
